In [1]:
import pandas as pd

dict1 = {
  'Name': ['Ali','Ahmed','Kiran','Qadeer','Nadeem','Arshad','Sehar'],
  'Marks': [98,85,32,69,45,32,65],
  'Gender': ['Male','Male','FeMale','Male','Male','Male','FeMale']
}

df = pd.DataFrame(dict1)
df

     Name  Marks  Gender
0     Ali     98    Male
1   Ahmed     85    Male
2   Kiran     32  FeMale
3  Qadeer     69    Male
4  Nadeem     45    Male
5  Arshad     32    Male
6   Sehar     65  FeMale

In [ ]:
# Display Top 3 Rows of the Dataset 

Rows_Display = df.head(3)
Rows_Display

# Check Last 3 Rows of the Dataset 

Last_Display = df.tail(3)
Last_Display

Find Shape of Our DataSet (Number of Rows & Number of Columns )

In [ ]:
df.shape

print("Number of Rows", df.shape[0])
print("Number of Columns", df.shape[1])

Get Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column and Memory Requirement

In [ ]:
df.info()

Check Null Values In the Dataset

In [ ]:
df.isnull().sum()

Get Overall Statistics About the DataFrame

In [ ]:
df.describe(include='all')

Find Unique Values from the Gender Column

In [ ]:
df

In [ ]:
df['Gender'].unique()

Find the Number of Unique values from the Gender Column

In [ ]:
df['Gender'].nunique()

Display Count of Unique Values In Gender Column

In [ ]:
df['Gender'].value_counts()

Find Total Number of Students Having Marks Between 90 To 100 (Inclusive) Using Between Method

In [ ]:
# There are three method Used 

# First Method 
df[df['Marks']>=90]

# Second Method 
len(df[(df['Marks']>=90) & (df['Marks']<=100)])

# Third Method 
sum(df['Marks'].between(90,100))

Find Average Marks

In [ ]:
df['Marks'].mean()


# Find Minimum Marks 
df['Marks'].min()

# Find Maximum Marks 
df['Marks'].max()

Apply Method

In [ ]:
def marks(x):
  # return x/2 #Normal Division
  return x//2 #Floating Division

df['Half_Marks'] = df['Marks'].apply(marks)
df

Using Lambda Function

In [ ]:
df['Marks'].apply(lambda x:x//2)

Map Function

In [ ]:
df['Male_Female']=df['Gender'].map({'Male':1,'Female':0})
df

Drop the Column

In [ ]:
df.drop(['Male_Female','Half_Marks'],axis=1,inplace=True)
df

Print the Name of columns

In [ ]:
df.columns

In [ ]:
df.index

Sort the DataFrame as per the Marks Column

In [ ]:
df
df.sort_values(by=['Marks','Gender'],ascending=False)

Display Name & Marks of the Female Students

In [ ]:
df[df['Gender']=='FeMale'][['Name','Marks']]

In [ ]:
df[df['Gender'].isin(['FeMale'])]